@font-face{
    font-family: Fedra;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Medium.otf');
}

@font-face{
    font-family: FedraBook;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Book.otf');
}

@font-face{
    font-family: FedraDemi;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Demi.otf');
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: Fedra;
    font-size: 23px;
}

body {
    margin-left: 6px;
    overflow: hidden;
    background-color: #fafafa;
}

audio {
    display: none;
}

#background {
    transition: 0s !important;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
}

.recorder {
    box-shadow: 0 0 15px rgba(0,0,0,0.7) inset;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: 50;
    transition: 0.5s;
    width: 889px;
    height: 100%;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recorder img {
    transition: 0.05s;
    width: 100px;
    cursor: pointer;
}

.recorder canvas {
    transition: 0.5s;
    width: 500px;
    height: 100px;
    position: absolute;
    pointer-events: none;
    margin-top: 300px;
    mask-image: linear-gradient( to right,transparent,
        black 20%,
        black 80%,
        transparent 100%);
    -webkit-mask-image: linear-gradient( to right,transparent,
        black 20%,
        black 80%,
        transparent 100%);
}

.pause, .stop, .delete {
    display: none;
    width: 100px;
    cursor: pointer;
    margin: 100px;
}

.delete, .send, .controlBtn {
    display: none;
    opacity: 0;
}

.stop, .pause {
    width: 70px;
}

button {
    cursor: pointer;
}

.record {
    margin-top: 15px;
    position: absolute;
    width: 100px;
    cursor: pointer;
    transition: 0.05s;
}

.stop:hover, .pause:hover, .controlBtn:hover {
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.459)) blur(0.5px) contrast(1.45);
}

.record:hover, .delete:hover {
    filter: drop-shadow(0px 0px 12px red) blur(0.5px) contrast(1.45);
}

.send:hover {
    filter: drop-shadow(0px 0px 12px green) blur(0.5px) contrast(1.45);
}

.record:active, .stop:active, .pause:active {
    animation: activeAnimation 0.2s linear;
}

#progressBar {
    width: 500px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 3px;
}

.offscreen {
    margin-top: -50px !important;
}

.progressContainer {
    transition: 0.6s;
    top: 0px;
    margin-top: 50px;
    position: absolute;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress {
    margin: 3px;
    margin-left: 3px;
    height: 82%;
    width: 0%;
    background-image: linear-gradient(180deg, #9fd142 0%, #7fa735 80%);
    border-radius: 40px;
}

.start {
    margin-right: 10px;
    font-variant: lining-nums;
    color: white;
}

.end {
    margin-left: 10px;
    font-variant: lining-nums;
    color: white;
}

.container {
	width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video_block{
    transition: 1s;
    width: 889px;
    height: 500px;
    display: flex;
    justify-content: center;
    position: relative;
    /* background-color: black; */
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    width: 100%;
    height: 100%;
    transition: 1s;
}

.controls {
    width: 889px;
    height: 506px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: row;
    z-index: 0;
    opacity: 0;
    transition: 0.2s;
}

.blackout {
    width: 889px;
    height: 506px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: row;
    z-index: 0;
    opacity: 0;
    transition: 0.2s;
    pointer-events: none;
    background-color: black;
    opacity: 0.42;
}

.controls img {
    cursor: pointer;
    filter: drop-shadow(-1px 0px 3px rgba(0, 0, 0, 0.2));
}

#pause, #back img {
    display: none;
}

#front, #back {
    width: 35px;
    height: 35px;
}

#front {
    margin-left: 102px;
}

#back {
    margin-right: 102px;
}

#play, #pause {
    width: 66px;
    height: 66px;
}

.choices_block {
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    width: 874px;
    height: 104px;
    border-radius: 10px 10px 0 0;
    padding-left: 3.5%;
    padding-right: 3.5%;
    transition: 1s;
}

.show {
    margin-top: 390px !important;
}

.hide {
    margin-top: 500px !important;
}

.stickyChoices {
    z-index: 1;
    background: transparent;
    position: absolute;
    width: 900px;
    height: 600px;
    transition: 0.5s;
}

.stickyShow {
    opacity: 1;
}
.stickyHide {
    opacity: 0;
    pointer-events: none;
}

.stickyChoices .choices {
    cursor: pointer;
    position: absolute;
    width: 350px;
    height: 80px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.stickyChoices .choices  p{
    text-align: center;
    font-size: 23px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.choices_block .choices {
    background-color: #F3F3F3;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2), -3px -3px 5px 0 rgba(0, 0, 0, 0.2);
    width: 47.5%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    opacity: 1;
    padding: 10px 16px;
    margin-right: 3.5%;
}

.choices_block .choices p {
    color: #436980;
    font-size: 23px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices:hover p {
    opacity: 0.42;
}

.choices_block .choices:last-of-type {
    margin: 0;
}

.click {
    border-radius: 9px;
    box-shadow: inset -1px -1px 5px 0 #b8b8b8, inset 1px 1px 5px 0 #b8b8b8;
    position: absolute;
    width: 98.4%;
    height: 91%;
    pointer-events: none;
}

img {
    width: 100%;
}