* {
	margin: 0;
	padding: 0;
}
.video_block{
    width: 900px;
    height: 600px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: black;
    position: absolute;
    top: 0;
}

.video{
    width: 900px;
}

.choices_block{
    width: auto;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 141px;
    left: 771px;
}

.choices{
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 0 0 15px 0;
    border: 5px solid aquamarine;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    cursor: pointer;
}
