@font-face{
    font-family: Fedra;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Medium.otf');
}

@font-face{
    font-family: FedraBook;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Book.otf');
}

@font-face{
    font-family: FedraDemi;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Demi.otf');
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: Fedra;
    color: #436980;
    font-size: 23px;
}

.video_block{
    width: 900px;
    height: 600px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: black;
    position: absolute;
    top: 0;
}

.video{
    width: 900px;
    transition: 0.3s;
}

.control:hover video {
    opacity: 0.42;
}

body:hover .controls {
    opacity: 1;
}

.controls {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: row;
    z-index: 0;
    opacity: 0;
    transition: 0.2s;
}

.controls img {
    cursor: pointer;
}

#pause, #back img {
    display: none;
}

#front, #back {
    width: 35px;
    height: 35px;
}

#front {
    margin-left: 102px;
}

#back {
    margin-right: 102px;
}

#play, #pause {
    width: 66px;
    height: 66px;
}

.choices_block {
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    display: none;
    position: absolute;
    bottom: 0px;
    left: 13px;
    width: 874px;
    height: 104px;
    border-radius: 10px 10px 0 0;
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.choices {
    box-shadow: 5px 5px 5px 0 rgba(222,222,230,0.5), -5px -5px 5px 0 #FEFEFE;
    width: 47.5%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    opacity: 1;
}

.choices:hover p {
    opacity: 0.42;
}

.choices {
    margin-right: 3.5%;
}

.choices:last-of-type {
    margin: 0;
}

.click {
    border-radius: 9px;
    background-color: #F3F3F3;
    box-shadow: inset -1px -1px 2px 0 #FEFEFE, inset 1px 0 3px 0 rgba(222,222,230,0.5);
    position: absolute;
    top: 2px;
    left: 2px;
    width: 99.2%;
    height: 99.2%;
    z-index: -1;
}

img {
    width: 100%;
}