* {
	margin: 0;
	padding: 0;
}
.video_block{
    width: 900px;
    height: 600px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: black;
    position: absolute;
    top: 0;
}

.video{
    width: 900px;
}

